body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,center,u,b,i
	{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: normal;
	font-style: normal;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	background-repeat: no-repeat;	
}

html {
	overflow-y: scroll;
	max-width: 1250px;
	margin-right: auto;
	margin-left: auto;
	height: 100%;
}


body {
	line-height: 1;
	font: 80% 'Source Sans Pro';
	font-style: italic;
	text-align: center;
	color: #304458;
}

:focus {
	outline: 0;
}

ol,ul {
	list-style: none;
	padding-left: 4em;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	display: table;
	clear: both;
	margin: 10px auto;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: "";
}

blockquote,q {
	quotes: "" "";
}

input,textarea {
	margin: 0;
	padding: 0;
}

hr {
	margin: 0;
	padding: 0;
	border: 0;
	color: #000;
	background-color: #000;
	height: 1px;
}

.fila:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.fila {
	display: block;
}

.fila-1, .fila-2, .fila-3, .fila-4, .fila-6 {
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
}

#footer li {
    margin-left: -5px;
    margin-top: -5px;
}
.fila-2 li {
    float: left;
}
.fila-1 li, .fila-2 li, .fila-3 li, .fila-4 li, .fila-6 li {
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2px;
}

* html .fila {
	height: 1px;
}

#wrapper {
	margin: 0 auto;
	display: block;
	text-align: left;
	position: relative;
}

#content-wrapper {
	padding: 10px 0;
	position: relative;
}

a {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

.story > a {
    color: #000;
}


p {
	margin-bottom: 1em;
	line-height: 1.5em;
	text-align: justify;
}

#separadorSuperior {
	
	height: 10px;
	margin-left: 8px;
	padding: 12px 0;
	margin-right: 16px;
	text-transform: uppercase;
	text-align: right;
}

#separadorSuperior span {
	color: #192B3F;
}

.descargaSuperior {
	text-transform: none;
	margin-right: 35px;
}

#cabeceiraDOG {
	padding: 5px 35px 5px;
    /* background-image: url(../imagenes/publico/fondo-cabecera.png); */
    background-repeat: no-repeat;
    background-position-y: 0px;
    display: block;
    /* height: 180px; */
    background-position-x: center;
}

#cabeceiraDOG h1 {
	float: left;
	margin-bottom: 20px;
	width:	70%;
}

#cabeceiraDOG a img{
	padding-left: 30px;
	width: 100%;
}
#DiarioOficial {
	float: left;
    margin-top: 5%;
    margin-left: 70px;
	width: 20%;
}

#publicacionInfo {
	color: #2F6FA7;
    font-weight: bolder;
    display: inline-block;
    clear: both;
    font-size: 1.2em;
    padding: 6px;
    background-color: #dfeff9;
    width: 98%;
}

#advertenciaPt {
    color: #337ab7;
    font-weight: bolder;
    display: inline-block;
    clear: both;
    font-size: 1.2em;
    padding: 3px 10px 9px;
    margin-top:5px;
    background-color: #ffff99;
    width:  98%;
}

#advertenciaPt .textoAdvertenciaPt{ 
    font-weight: bold;
    font-size: 1.0em;   
    text-align: justify;
    text-justify: inter-word;
}

#DOGNumero {
	width: 33%;
	float: left;
	font-weight: bold;
	font-size: 1.2em;
	
}

#DOGData {
	float: left;
	text-align: center;
    width: 33%;
	padding-bottom: 3px;
	font-weight: bold;
	font-size: 1.2em;
}

#DOGPaxina {
    float: right;
	text-align: right;
    width: 33%;
	font-weight: bold;
	font-size: 1.2em;

}

#footer {
	background-color: #057EB5;	
	color: #FFFFFF;
	line-height: 1.1em;
    padding: 10px 25px 5px;
}

#copyright div {
	padding-top: 5px;
}

#copyright img {
	float: left;
	margin-right: 15px;
}

.b1,.b2,.b3,.b4 {
	font-size: 1px;
	overflow: hidden;
	display: block;
}

.b1 {
	height: 1px;
	/*background: #8bb6d8;*/
	margin: 0 5px;
	padding: 0;
}

.b2 {
	height: 1px;
	background: #fff;
	/*border-right: 2px solid #8bb6d8;
	border-left: 2px solid #8bb6d8;*/
	margin: 0 3px;
}

.b3 {
	height: 1px;
	background: #fff;
	/*border-right: 1px solid #8bb6d8;
	border-left: 1px solid #8bb6d8;*/
	margin: 0 2px;
}

.b4 {
	height: 2px;
	background: #fff;
	/*border-right: 1px solid #8bb6d8;
	border-left: 1px solid #8bb6d8;*/
	margin: 0 1px;
}

.contidoDesplegado {
	background: #fff;
	/*border-right: 1px solid #8bb6d8;
	border-left: 1px solid #8bb6d8;
	padding: 20px 10px;*/
	font-size: 1.2em;
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-family: 'Source Sans Pro';
	color: #000;
	    border: 1px solid rgb(226, 226, 226);
}

#col1-0 {
	margin: 5px 50px;
}

/* Barra de navegaci?n */
.navegacionAnuncio {
	/*display: inline-block;
	width : 100%;*/	
	margin : 0px 65px 0px;
}

.navegacionAnuncio ul {
    clear : both;	
	display: inline-block;
	margin : 0;
	padding : 0;
	width : 100%;
}

.navegacionAnuncio .enlaceAnterior {
	text-align : left;
}

.navegacionAnuncio .enlaceArriba {
	text-align : center;
}

.navegacionAnuncio .enlaceSiguiente {
	text-align : right;
}

.navegacionAnuncio span {
	color: #0C5680;
	font-family: 'Source Sans Pro';
    font-weight: bold;
    font-size: 16px;
}

.navegacionAnuncio li {
	list-style : none outside none;
	float: left; 
	display: inline-block;
	margin: 0;
	width : 33.3%;
	padding-bottom : 0px;
}

.navegacionAnuncio li:after {
	content : ".";
	visibility : hidden;
}

/* **** */

.contidoDesplegado>div {
	padding: 20px;
	background-color: #f7f7f7;
}

.dog-base-sangria {
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	color: #000;
	text-indent: 1.5em;
}

.dog-parrafo-justificado,.dog-base-sin-sangria-sin-espaciado {
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	color: #000;
}

.dog-parrafo-justificado {
	text-align: justify;
}

.dog-centrado-cursiva-c-a {
	text-align: center;
	font-style: italic;
	padding: 0.5em 0 1em 2em;
	text-transform: uppercase;
	color: #000;
}

.dog-normal {
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}

.dog-centrado-cursiva-c-b {
	font-style: italic;
	text-align: center;
}

.dog-anexo-encabezado {
	text-align: center;
	line-height: 1.5em;
}

.dog-anexo-nome {
	text-transform: uppercase;
	text-align: center;
	line-height: 1.8em;
}

.dog-anexo-nome,.dog-titulo-nome,.dog-capitulo-nome,.dog-celda-encabezado
	{
	font-weight: bold;
	text-align: center;
}

.dog-titulo,.dog-titulo-nome,.dog-capitulo {
	text-transform: uppercase;
	text-align: center;
}

.dog-dispositiva-cuerpo,.dog-data {
	text-indent: 1.5em;
}

.dog-firma-centrada {
	font-size: 1.1em;
}

.dog-base-sin-sangria-sin-espaciado {
	margin-bottom: 0.5em;
}

.dog-base-sin-sangria-primera-linea-anexo {
	margin-top: 1.5em;
	margin-bottom: 0.5em;
}

.dog-cursiva,.dog-negrita-cursiva,.dog-cursiva-superindice,.dog-cursiva-subindice,.dog-negrita-cursiva-superindice,.dog-negrita-cursiva-subindice,.dog-cursiva-subrayado,.dog-cursiva-tachado,.dog-negrita-cursiva-subrayado,.dog-negrita-cursiva-tachado,.dog-seccion
	{
	font-style: italic;
}

.dog-tachado,.dog-cursiva-tachado,.dog-negrita-cursiva-tachado, .dog-negrita-tachado {
	text-decoration: line-through;
}

.dog-superindice,.dog-cursiva-superindice,.dog-negrita-cursiva-superindice,.dog-negrita-superindice
	{
	vertical-align: super;
}

.dog-subindice,.dog-cursiva-subindice,.dog-negrita-cursiva-subindice,.dog-negrita-subindice
	{
	vertical-align: sub;
}

.dog-parrafo-centrado,.dog-centrado-sin-cursiva-c-a,.dog-centrado-negrita,.dog-firma-centrada,.dog-celda-centrada,.dog-marca-dato-personal,.dog-centrado-sin-cursiva-c-b,.dog-seccion,.dog-celda-centrado,.dog-parrafo-titulo,.dog-subseccion
	{
	text-align: center;
}

.dog-parrafo-derecha,.dog-celda-pie,.dog-celda-dcha,.dog-celda-derecha {
	text-align: right;
}

table.dog-tabla-sin-bordes {
	border: 0;
}

td {
	padding: 2px;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
}

td p {
	margin-bottom: 0;
}
.dog-anexo-encabezado{
	
	margin-bottom: 0;
}

.dog-celda-titulo {
	font-size: 1.2em;
	color: #2e6da0;
	font-weight: bold;
}

.dog-celda-con-bordes,table.dog-tabla-con-bordes td {
	border: 1px solid #8bb6d8;
}

.dog-celda-borde-superior,.dog-celda-borde-superior-izquierdo {
	border-top: 1px solid #8bb6d8;
}

.dog-celda-borde-inferior,.dog-celda-borde-inferior-derecho {
	border-bottom: 1px solid #8bb6d8;
}

.dog-celda-borde-izquierdo,.dog-celda-borde-superior-izquierdo {
	border-left: 1px solid #8bb6d8;
}

.dog-celda-borde-derecho,.dog-celda-borde-inferior-derecho {
	border-right: 1px solid #8bb6d8;
}

.dog-celda-encabezado {
	background-color: #E3E3E3;
}

.dog-texto-seccion,.dog-texto-subseccion,.dog-parrafo-seccion,.dog-parrafo-subseccion {
	color: #28779F;
	text-transform: uppercase;

}
.dog-texto-seccion,.dog-parrafo-seccion{	
font-size: 1.1em;
}
.dog-numero-dog,.dog-fecha-dog{
	color: #de8229;
	}
.dog-marca-dato-personal{
	color: #e6007e;
	}
	
.dog-numero-dog{
		font-style: italic;
	}
.dog-titulo-html,.dog-valor-html,.dog-texto-titulo {
	color: #2e6da0;
}

.dog-organismo-sumario {
	text-transform: uppercase;
	color: #4A6166;
	padding-left: 2em;
	font-weight: bold;
	margin-bottom: 0;
}

.dog-parrafo-organismo {
	padding: 0;
	margin-bottom: 0.3em;
}

.dog-texto-organismo {
	/*font-family: "Times New Roman", Times, serif;*/
	font-family: Lora;
	font-size: 1.2em;
	font-weight: bold;
	text-transform: uppercase;
	color: #4A6166;
}

/**.dog-parrafo-titulo {
	font-size: 1.1em;
	font-weight: bold;
	color: #2e6da0;
	border-bottom: 1px solid #c9c9c9;
	border-top: 1px solid #c9c9c9;
	padding: 15px 0;
}**/
.dog-hyperlink{
	text-decoration: underline;
	color: #28779F;	
}
	

.dog-parrafo-sumario {
	/*font-family: "Times New Roman", Times, serif;*/
	font-family: Lora;
	font-style: italic;
	padding-left: 3em;
	padding-bottom: 10px;
	display: block;
	text-align: justify;
}

.dog-texto-sumario {
	font-family: Lora;
	font-style: italic;
	padding-left: 0em;
	padding-bottom: 10px;
	display: inline;
	text-align: justify;
}

span.dog-texto-sumario {
	font-size: 1.2em;
}

.dog-titulo-publicacion-teu {
	font-family: Lora;
	font-style: italic;
	padding-left: 0em;
	padding-bottom: 10px;
	display: inline;
	text-align: justify;
}

.dog-cabecera  .basic-paragraph:last-child {
	padding-left: 3em;
}


span.dog-titulo-publicacion-teu {
    font-size: 1.2em;
}

ol {
	list-style: lower-alpha;
}

ol ol {
	padding-left: 0;
}

/** ol.arabe {
	list-style: decimal;
}**/
ol.arabe {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

ol.arabe > li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;
}

ol.arabe > li:before {
  content: counters(item, ".") ". ";
}


li ol.arabe > li {
  margin: 0;
}

li ol.arabe > li:before {
  content: counters(item, ".") " ";
}

ol.romana {
	list-style: upper-roman;
}

ul {
	list-style: disc;
}

li {
	padding-bottom: 0.8em;
	color: #000;
}

li.dog-apartado-a {
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-family: Lora;
	font-size: 1.1em;
	list-style: lower-alpha;
	text-transform: none;
	color: #000;
}

li.dog-seccion-romano {
	list-style: upper-roman;
	font-size: 1.2em;
	color: #000;
	text-transform: uppercase;
}

li.dog-vinheta-asterisco {
	list-style: none;
	list-style-image: url(../imagenes/bolos/boloAsterisco.gif);
}

a:hover,.dog-subrayado,.dog-negrita-subrayado,.dog-cursiva-subrayado,.dog-negrita-cursiva-subrayado
	{
	text-decoration: underline;
}

.dog-negrita,.dog-negrita-tachado,.dog-negrita-cursiva,.dog-negrita-subrayado,.dog-negrita-cursiva,.dog-negrita-cursiva-superindice,.dog-negrita-cursiva-subindice,.dog-negrita-cursiva-subrayado,.dog-negrita-cursiva-tachado,.dog-negrita-superindice,.dog-negrita-subindice,.dog-texto-titulo,.dog-centrado-negrita,.dog-celda-titulo p,.dog-titulo-html, .dog-texto-seccion,.dog-texto-subseccion,.dog-seccion-romano,.dog-apartado-a,.dog-texto-seccion,.dog-parrafo-subseccion,.dog-parrafo-seccion,.dog-parrafo-organismo,.dog-subseccion
	{
	font-weight: bold;
}

.dog-superindice,.dog-subindice,.dog-cursiva-superindice,.dog-cursiva-subindice,.dog-negrita-cursiva-superindice,.dog-negrita-cursiva-subindice,.dog-negrita-superindice,.dog-negrita-subindice,li.dog-seccion-romano li.dog-apartado-a
	{
	font-size: 0.9em;
}

#separadorSuperior a.documentoPDF {
	float: left;
	text-transform: uppercase;
	margin-right: 3.5em;	
	float: left;
	background-image: url("../imagenes/publico/icos/pdf-icon.png");
	background-position: 5px 0;
	color: #01587E;
	padding: 5px 0px 5px 30px;
	background-repeat: no-repeat;
	font-weight: bold;
	font-size:	14px;
	text-decoration: underline;
}
input.disabled {
  background: #ccc;
}
#separadorSuperior a.pdfELI {
    float: left;
    text-transform: uppercase;
    margin-right: 3.5em;
    float: left;
/* 	background-image: url("../imagenes/publico/icos/eli-icon.png"); */
    background-image: url(../imagenes/publico/icos/pdf-icon.png);
	background-position: 5px 0;
    color: #01587E;
    padding: 5px 0px 5px 35px;
    background-repeat: no-repeat;
    font-weight: bold;
    font-size: 14px;
    text-decoration: underline;
}

#separadorSuperior .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

#separadorSuperior a.idiomaSeleccionado {
	color: #192B3F;
	font-weight: 900;
	text-decoration: underline;
}

#separadorSuperior a {
	color: #0C5680;
}

.rs_skip .ventaNova, .documentoPDF .ventaNova, .documentoELI .ventaNova{
	display: none;
}


@media (max-width:799px){


	#cabeceiraDOG a img {
	    content: url("/dog/contenidoEstatico/imagenes/DOG2.png");
		height: 100px;
		width: inherit;
		padding:	20px;
	}

	#DiarioOficial {
		margin-top: 20px;
		height: 100%;
		width: 30%;
		margin-left: 0px;
		
	}	
	#DOGNumero {
   		 padding-right: 40px;
	}

}

@media only screen and (max-device-width:799px){
	#copyright p{
		visibility: hidden;
	}
	
	
	#publicacionInfo span {
		font-size: 1.8rem;
	}
	#copyright p{
		visibility: hidden;
	}
	
	#DOGNumero {
    padding-right: 40px;
	}
	
	#separadorSuperior a.documentoPDF {
		font-size: 1.8rem;
		margin-right: 5px;
		padding: 0px 0px 5px 30px;
		background-position: 0px 7px;
	}
	
	#separadorSuperior {
        font-size: 1.5rem;
		padding: 30px;


	}
	
	#cabeceiraDOG {
    padding: 5px 5px 5px;
	}
	
	#col1-0 {
    margin: 5px 0px;
	
}

	.navegacionAnuncio span {
		font-size: 1.8rem;
	}

	#DiarioOficial {
		margin-top: 20px;
		height: 100%;
		width: 30%;
		margin-left: 0px;
		
	}	
	
	#DOGPaxina{
		padding-left: 10px;
		}
	#content-wrapper{
	    font-size: 130%;
	}
	
	#cabeceiraDOG a img {
	    content: url("/dog/contenidoEstatico/imagenes/DOG2.png");
		height: 100px;
		width: inherit;
		padding:	20px;
	}

	.rsbtn{
		zoom: 250%;
	}
}
@media (max-width: 375px) {
	.rsbtn.rsexpanded .rsbtn_play {
		position: relative;
		bottom: 26px;
		left: 210px;
	}
}

#readspeaker_button1 {
	float: right;
	margin-left: 20px;
}

.rsbtn .rsbtn_text {
  color: #fff;
}

.rsbtn .rsbtn_play {
  color: #fff !important;
  border-radius: 0px;
  background: #0E71B4 none !important;
}

.rsbtn .rsbtn_play .glyphicon-volume-up{
	padding: 5px 9px 5px 5px; 
	font-size: 1.3em;
}

.rsbtn .rsbtn_play span {
  background: transparent none !important;
}

.rsbtn .rsbtn_play .rsbtn_left .rsbtn_text {
  padding-left: 0px;
}

.rsbtn .rsbtn_play .rsbtn_right {
  background: transparent url("../imagenes/publico/img_readspeaker/play_rs.png") no-repeat left center !important;
  width: 25px !important;
}

.rsbtn .rsbtn_closer {
  background: #0E71B4 url("../imagenes/publico/img_readspeaker/close_rs.png") no-repeat center center !important;
  width: 30px;
  border-radius: 0px 5px 5px 0px;
}

.rsbtn .rsbtn_player {
  background: #0E71B4 none !important;
}

.rsbtn .rsbtn_pause {
  background: #0E71B4 url("../imagenes/publico/img_readspeaker/pause_rs.png") no-repeat center center !important;
  width: 25px;
}

.rsbtn .rsbtn_stop {
  background: #0E71B4 url("../imagenes/publico/img_readspeaker/stop_rs.png") no-repeat scroll 10px center !important;
  width: 47px !important;
}

.rsbtn .rsbtn_exp {
  margin-left: -4px;
}

.rspopup .rsbtn_text {
  display: none;
}

.rspopup .rsbtn_left {
  width: 7px !important;
}

.rspopup {
  border-radius: 0px;
}

.rsbtn .rsbtn_closer.rsimg{
	border-radius: 0px; 
}


/***************************/
/* ALTO CONTRASTE */
/***************************/
.hc .rsbtn .rsbtn_play {
    background-color: #000;
	color:#FFF;
	background-image: none !important;
}

.rsbtn .rsbtn_play .glyphicon-volume-up{
	padding:5px 9px 5px 5px;
	font-size: 1.3em;
}

.glyphicon{
	position:relative;
	top:1px;
	display:inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height:1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../estilos/bootstrap-3.3.5/fonts/glyphicons-halflings-regular.eot');
  src: url('../estilos/bootstrap-3.3.5/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../estilos/bootstrap-3.3.5/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../estilos/bootstrap-3.3.5/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../estilos/bootstrap-3.3.5/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../estilos/bootstrap-3.3.5/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon-volume-up:before {
  content: "\e038";
}

@font-face {
  font-family: 'Arrobatherapy';
  src: url(../fuentes/arrobatherapy/Arrobatherapy.eot') format('embedded-opentype'), url('../fuentes/arrobatherapy/Arrobatherapy.ttf')  format('truetype'), url('../fuentes/arrobatherapy/Arrobatherapy.svg#Arrobatherapy') format('svg');
  font-weight: normal;
  font-style: normal;
}

.dog-erroba {
	font-family: 'Arrobatherapy';
}

